<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ resource('dist/img/avatar5.png') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Nombre de usuario</p>
                <small>Administrador</small>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENÚ DE NAVEGACIÓN</li>
            <li class="active">
                <a href="{{ route('/') }}"><i class="fa fa-home"></i> <span>Inicio</span></a>
            </li>
            {% for e in nav %}
                {% if (e.getChilds|length == 0) %}
                    <li>
                        <a href="javascript:void(0)" data-link="{{ e.link_name }}" data-parent="0" data-title="{{ e.process_name }}" data-sub="{{ e.process_desc }}" class="ajax">
                            <i class="fa {{ e.process_icon }}"></i> <span>{{ e.process_name }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="treeview">
                        <a href="javascript:void(0)">
                            <i class="fa {{ e.process_icon }}"></i> <span>{{ e.process_name }}</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            {% for c in e.getChilds %}
                                <li>
                                    <a href="javascript:void(0)" data-link="{{ c.link_name }}" data-parent="{{ e.process_name }}" data-title="{{ c.process_name }}" data-sub="{{ c.process_desc }}" class="ajax">
                                        <i class="fa {{ c.process_icon }}"></i> {{ c.process_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>